{% extends 'base.html.twig' %}

{% block title %}Welcome to Pawsocial!{% endblock %}

{% block body %}
    <div class="card">
        <h1>🐾 Welcome to Pawsocial</h1>
        <p>Your new favorite social network for pets and animal lovers.</p>
        
        <p>
            <a href="/api" class="btn">Go to API Documentation</a>
        </p>
    </div>
{% endblock %}
